<meta charset="UTF-8">
<head>

</head>

<div>
  Welcome to Tiny Apps!
</div>

<div>
<% if (user === undefined) { %>
  <input type="button" value="Register" onclick="window.location.href='/register'">
  <input type="button" value="Login" onclick="window.location.href='/login'">
<% } else { %>
  <p><%= user['email'] %> </p>
<form action="/logout" method="POST" style="margin:10px";>
  <input type="submit" value="Logout">
  <input type="button" value="Create your short URL now!" onclick="window.location.href='/urls/new'">
</form>

<% } %>
</div>



