<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>

  <header>
    <% include ./partials/_header %>
  </header>
  <div>
    <h1>
      Short URL : <%= shortURL %>
    </h1>
  </div>
  <div>
    <% if (user === undefined) { %>
      <p>Please login to view.</p>
    <% } else { %>
        <% if (user.id === UrlID) { %>
          <form action="/urls/<%= shortURL %>" method="POST" style="margin:50px;">
          <input type="text" name="newURL" placeholder="http://" style="width: 300px">
          <input type="submit" value="Update">
          </form>
        <% } else {%>
          <h4>Only the Short URL owner can update the URL.</h4>
      <% } %>
      <% } %>
  </div>
</body>
</html>